/**
 * First HTML Assignment CSS-File
 * Auth: Peter Santiago
 * Last Updated: 09.17.2018
 **/

/* Main Site Container */

h {
font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  align-content: center;
  }

*{
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  background-image: url('http://i65.tinypic.com/v6ivrm.png');
  background-repeat: repeat;
  background-color: #fff;
  height: 50px;
  text-decoration-color: #777777;
  font-family: Arial, Helvetica, sans-serif;
}

.blended_grid {
  display: block;
  width: 100%;
  overflow: auto;
  margin: 0px auto 0 auto;
}
.s_h_container{
  position: fixed;
  background-color : rgb(255, 255, 255);
  float: left;
  clear: none;
  height: 75px;
  width: 100%;
  z-index: 100;
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
}

  .s_h_c {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    float: left;
    clear: none;
    height: 75px;
    width: 960px;
    top: 39px;
    margin: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 2px;
  border-color:#f3eded;
  }
  
  .box-1 {
    display: inline-block;
    width: 250px;
    height: 76px;
    background-color:#4aaaa5;
  }

  .box-1 p {
    color: #f1e8e8;
    margin: 0;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .box-2 {
    display: inline-block;
    float: right;
    width: 710px;
    height: 77px;
    background-color:#ffffff;
    border-style: none;
  }

.c_container{
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 460px;
  width: 910px;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 2px;
  border-color:#dddddd;
  padding: 25px;
  line-height: 1.8;
 }

 .c_name {
  color: #4aaaa5;
  text-decoration-color: #4aaaa5;
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
 }
 
.f_body {
  background-color:#666666;
  position: fixed;
  left: 0;
  bottom: 0;
  float: left;
  clear: none;
  height: 50px;
  width: 100%;
}

.f_body p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ebe2e2;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.f_trim {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color:#4aaaa5;
  }
 
/* another nav */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 710px;
    height: 75px;
    overflow: hidden;
    background-color: #ffffff;
     }
  
  li {
      float: right;

  }
  
  li a {
      display: block;
      color: rgb(31, 26, 26);
      text-align: center;
      padding: 29px;
      text-decoration: none;
  }
  
  li a:hover {
      background-color: #4db9eb;
  }  